<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>SignUp</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div
      class="container d-flex justify-content-center align-items-center min-vh-100"
    >
      <form
      action = '/user/signup'
      method = 'post'
        class="row g-4 p-4 border rounded shadow bg-light"
        style="max-width: 400px; width: 100%"
      >
        <div class="col-12">
          <label for="fullName" class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="fullName"
            name="fullName"
          />
        </div>
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input 
          type="email" 
          class="form-control" 
          id="email" 
          name="email" />
        </div>
        <div class="col-12">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100">Sign in</button>
        </div>
      </form>
    </div>

    <%- include('./partials/script') %>
  </body>
</html>
